* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'PT serif';
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

.page-main {
    display: block;
}

.header {
    display: block;
    background-color: black;
}

.body {
    display: block;
}

.footer {
    display: block;
}

.container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.h-inner {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.h-inner .b-left {
    max-width: 150px;
    margin: 20px 40px;
    display: block;
}

.h-inner .b-right {
    display: block;
    margin-left: 235px;
    box-sizing: border-box;
    padding: 48px;
}

.h-inner .b-right .h-navbar {
    color: white;
    padding: 8px;
    font-size: 25px;
    font-weight: 500;
    transition-duration: 1s;
}
.h-inner .b-right .h-navbar:hover{
    color: powderblue;
    padding-left: 20px;
}
.middle-container{
    display: block;
    max-width: 1300px;
    /* padding: 10px; */
    margin: 10px 15px;
    overflow-y:hidden ;
    box-sizing: border-box;

}
.inner{
    display: block;
    margin-left: -15px;
    margin-right: -15px;
}

.inner .m-video{
    position: relative;
    max-width: 2000px;
    height: 800px;
    overflow:hidden;
}
.inner .m-text{
    position:absolute;
    top:63%;
    right: 0;
    color: white;
    left: 0%;
    box-sizing: border-box;
}
.inner .m-text .m-h1{
    font-size: 65px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}
.inner .m-text .m-p{
    text-transform: capitalize;
    font-size: 25px;
    text-align: center;
}

.blog-outer {
    display: block;
    clear: both;
    margin: 30px 0;
}

.blog-outer .heading {
    display: block;
    text-align: center;
    margin: 50px 0;
}

.blog-outer .heading .blog-title {
    display: inline-block;
    font-size: 40px;
    position: relative;
    text-transform: capitalize;
}

.blog-title::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 105%;
    height: 2px;
    width: 200px;
    background-color: blue;
}

.blog-title::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 105%;
    height: 2px;
    width: 200px;
    background-color: blue;
}

.blog-inner {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.blog-inner .inner-child {
    width: 33.33%;
    padding: 0 15px;
    position: relative;
    box-sizing: border-box;
}

.blog-inner .inner-child .child-txt {
    text-align: center;
}

.blog-inner .inner-child .child-txt .child-head {
    font-size: 25px;
    padding: 15px;
    font-weight: 600;
}